<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_HOME" value="logs" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger{36}) - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <logger name="com.banking" level="INFO" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <!-- Note: I just print the logs to Console here, in production env, we need to also print it to logger files -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

</configuration> 